numpy==1.21.0
Cython>=3.0
setuptools>=65.0

absl-py
annotated-types
asttokens
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
dnspython
executing
filelock
Flask
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
h5py
httplib2
huggingface-hub
ibm-cloud-sdk-core
ibm-cos-sdk
ibm-cos-sdk-core
ibm-cos-sdk-s3transfer
ibm-watson
ibm_watson_machine_learning
idna
imbalanced-learn
importlib_metadata
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
jmespath
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
keras
kiwisolver
libclang
lightgbm
lomond
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mpmath
mysql-connector-python
namex
nest-asyncio
networkx
nltk
opencv-python
opt_einsum
optree
packaging
paho-mqtt
pandas
parso
pillow
platformdirs
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
py-cpuinfo
pyasn1
pyasn1_modules
PyAudio
pydantic
pydantic_core
Pygments
PyJWT
pymongo
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt6
PyQt6-Qt6
PyQt6-sip
python-dateutil
pytz
# pywin32  ← Only needed on Windows, skip on Linux-based deploys like Render
PyYAML
pyzmq
regex
requests
rich
rsa
safetensors
scikit-learn
scipy
seaborn
six
sklearn-compat
smmap
SpeechRecognition
stack-data
sympy
tabulate
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
threadpoolctl
timm
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
ultralytics
ultralytics-thop
uritemplate
urllib3
wcwidth
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
xgboost
zipp
